<h1>Comment</h1>
<ul>
<%= form_for([@question, @comment]) do |f| %>
    <li>
      <%= f.label :content %>
      <%= f.text_field :content %>
    </li>
      <%= f.hidden_field :parent_id, :value => @question.id %>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>