<h1>Comment</h1>
<div>
  <%= form_for([@question, @question_comment]) do |f| %>
      <%= f.text_area :content, cols: 70, rows: 8 %>
      <%= f.hidden_field :parent_id, :value => @question.id %>
      <%= f.hidden_field :parent_type, :value => @question.class  %>
      <%= f.submit %>
  <% end %>
</div>