<div id="login_form">

  <%=form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email%><br>
    <%= f.label :password%>
    <%= f.password_field :password%><br>

    <%= f.submit "Login", :class => "button" %><br>
  <%end%>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>