<div id="login_form">

  <%=form_for(:session, url: sessions_create_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email%>
    <%= f.label :password%>
    <%= f.text_field :password%>

    <%= f.submit "Login"%>
  <%end%>
</div>