<h1>Comment</h1>
<div>
  <%= form_for([@answer, @answer_comment]) do |f| %>
      <%= f.text_area :content, cols: 70, rows: 8 %>
      <%= f.hidden_field :parent_id, :value => @answer.id %>
      <%= f.hidden_field :parent_type, :value => @answer.class %>
      <%= f.submit %>
  <% end %>
</div>