<div id="question-page">
<h1>
  <%= @question.title %>
</h1>
<div>
  <%= @question.vote_count%> <br>
  <%=link_to 'Up', question_up_path(@question.id)%>|<%= link_to 'Down', question_down_path(@question.id)%>

</div>
  <p>
    <%= @question.asker.username %> asked,
  </p>
    <div class="question">
     <p1> <%= @question.content %></p1>
    </div>

    <div class='question-asker'>
      <%= @question.created_at %>
    </div>

      <% if current_user.id == @question.asker.id %>
        <%= link_to 'Edit', edit_question_path(@question)  %>
        <%= link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure about this, #{@question.asker.username}?" }  %>
      <% end %>
      <div class="question-list">
      <% @question.comments.each do |com| %>
      <div class="question-line-item">
      <p><%= com.author.username %> commented,</p>
      <%= render template: 'question_comments/show', locals: {question_comment: com} %>
      </div>
      <% end %>
      </div>
    <p>
     <%= link_to 'Comment on Question', {:controller => "question_comments", :action => "new", :question_id => @question.id}%></p>

    <div class="question-answers">
      <% @question.order_answers.each do |answer| %>
      <%=render :template => 'answers/show', locals: {answer: answer} %>
        <% answer.comments.each do |com| %>
        <div class="question-list">
          <div class="question-line-item">
          <p><%= com.author.username %> commented,</p>
          <p><%= com.content %></p>
          <div class="comment_vote">
            <%= com.vote_count%> <br>
            <%=link_to 'Up', {controller: 'answer_comments', action: "upvote", id: com.id}%>|<%= link_to 'Down', {controller: 'answer_comments', action: "downvote", id: com.id }%>
          </div>
          </div>
        </div>
          <% end %>
      <%end%>
    </div>

    <div class="answer-question">
      <p>
        Answer This Question:
      </p>
        <%= render partial: '/answers/new', controller: 'answers', action: 'new', locals: {:question_id => @question.id} %>
    </div>

  <div class="back">
    <p>
      <%=link_to 'Back to Index', index_path  %>
    </p>
  </div>
</div>