<h1><%= @question.title %></h1>

  <%= @question.content %>
<div class='question-asker'>
  <%= @question.asker.username %>
  <%= @question.created_at %>
</div>
  <%= link_to 'Edit', edit_question_path(@question)  %>
  <%= link_to 'Delete', @question, method: :delete, data: { confirm: "Are you sure about this, #{@question.asker.username}?" }  %>

<div class="question-answers">

<% @question.answers.each do |answer| %>
  <%=render :template => 'answers/show', locals: {answer: answer} %>
  <%end%>
</div>

<div class="answer-question">
  <p>Answer This Question:</p>
<%= render partial: '/answers/new', controller: 'answers', action: 'new', locals: {:question_id => @question.id} %>
</div>

<p><%= link_to 'Comment on Question', {:controller => "question_comments", :action => "new", :question_id => @question.id}%></p>

<div class="back">
<p><%=link_to 'Back to Index', index_path  %></p>
</div>