<div>
  <%= @question.title %>
  <%= @question.content %>
</div>

<div>
  <%= answer.content %>
  <%= answer.responder.username %>
</div>

<p><%= link_to 'Comment', {:controller => "answer_comments", :action => "new", :answer_id => answer.id}%></p>
