<div id="answer-username">
  <p>
    <%= answer.responder.username %> answered:
  </p>
</div>
<div id="answer_vote">
  <%= answer.vote_count%> <br>
  <%= link_to 'Up', answer_up_path(answer.id)%>|<%= link_to 'Down', answer_down_path(answer.id), locals: {answer: answer}%>
</div>

<div>
  <%= answer.content %>
</div>

<% if current_user != nil && current_user.id == answer.question.asker.id %>

  <%= form_for @question do |f| %>
    <%= f.hidden_field :best_answer_id, value: answer.id %>
    <%= f.submit "Best Answer" %>
  <% end %>
<% end %>

<div class="answer_comments">
  <% answer.comments.each do |com| %>
    <%= render template: 'answer_comments/show', locals: {answer_comment: com, answer: answer} %>
    <%end%>
</div>

<p><%= link_to 'Comment', {:controller => "answer_comments", :action => "new", :answer_id => answer.id}%></p>

