<div class="form_down_vote">
  <%= simple_form_for [@votable, vote] do |f| %>
    <%= f.hidden_field :votable_id, :value => @votable.id %>
    <%= f.hidden_field :votable_type, :value => @votable.class %>
    <%= f.hidden_field :liked, :value => false %>
    <%=f.submit 'down' %>
  <%end%>
</div>

