<!DOCTYPE html>
<html>
<head>
  <title>BeerOverflow</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id='logo'><%= link_to "Beer Overflow", root_path %></div>
  <% if current_user %>
    <%= link_to "Logout", signout_path  %>
  <% else %>
    <%= link_to "Sign Up", signup_path %>
    <%= link_to "Login", login_path %>
  <% end %>
  </header>
  <div class='column'>
<%= yield %>
  </div>
</body>
</html>
